.header {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  & * {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  }
}

.header__container {
  display: flex;
  padding-top: 21.23px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 55px;
  height: 55px;
  & img {
    height: 100%;
    width: 100%;
  }
}

.header__menu {
  margin: 0 178.27px 0 176.43px;
}

.header__list {
  flex: 1 1 auto;
  display: flex;
  & li {
    cursor: pointer;
  }
}

.header__item {
  transition: all 0.5s;
  &:hover {
    color: #FFB548;
  }
  &:not(:first-child) {
    margin-left: 46.5px;
  }
}

.header__section-right {
  display: flex;
  align-items: center;
}

.header__lang-box {
  cursor: pointer;
  position: relative;
  height: 100%;
  margin: 0 30px 0 0;
}

.header__lang-btn {
  cursor: pointer;
  display: block;
  transition: all 0.5s;
}

.lang__list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 6px 20px 6px 8px;
  transform: translate(-5px, 0);
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
  box-sizing: border-box;
}

  .header__lang-box.open {
    & .header__lang-btn {
      color: #FFB548;
    }
    & .header__lang-arrow {
      color: #FFB548;
      transform: translate(50%) rotate(180deg);
    }
    & .lang__list {
      visibility: visible;
      opacity: 1;
      transform: translate(-5px, 14px);
    }
  }

.header__lang-arrow {
  transform: translate(50%) rotate(0);
  transition: transform 0.5s;
}

.lang__list-item {

  &:hover {
    color: #FFB548;
  }
}

.header__logo-social {
  display: flex;
  margin-left: 30px;
}

.header__logo-xbox {
  cursor: pointer;
  display: block;
  height: 31px;
  margin-right: 17px;
}

.header__logo-steam {
  cursor: pointer;
  display: block;
  height: 31px;
}

.menu__burger {
  display: none;
}

.header__menu-social {
  display: none;
}

@media (max-width: 1279.98px) {
  .header__logo {
    width: 32.964px;
    height: 32.964px;
    z-index: 10;
  }
  .header__menu {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 120px 0 0 0;
    position: absolute;
    transform: translate(0, -1000px);
    transition: all 1s;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 2;
    &.open {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  .header__list {
    padding: 0 40px;
    flex-direction: column;
  }
  .header__item {
    align-items: center;
    &:not(:first-child) {
      margin: 30px 0 0 0;
    }
  }
  .header__lang-box {
    margin-right: 25.5px;
  }
  .menu__burger {
    margin-left: 19.67px;
    display: block;
    width: 23.5px;
    height: 17.5px;
    z-index: 10;
  }
  .central__line {
    display: block;
    height: 2.5px;
    width: 100%;
    background-color: #FFFFFF;
    transition: all 1s;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 2.5px;
      width: 100%;
      background-color: #FFFFFF;
      transition: all 1s;
      transform: translate(0, 7.5px);
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 2.5px;
      width: 14.5px;
      background-color: #FFFFFF;
      transition: all 1s;
      transform: translate(9px, 15px);
    }
  }

  .central__line.open {
    &:after {
      transform: translate(0, 15px) rotate(45deg);
    }
    &:before {
      width: 100%;
      transform: translate(0, 15px) rotate(-45deg);
    }
  }

  .header__menu-social {
    display: flex;
  }
  .header__logo-social {
    display: none;
  }
}